* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Corps global */
body {
  font-family: var(--font-primary); /* Ou une police Google Fonts */
  color: var(--text-color);
  background-color: var(--color-beige); /* Exemple de fond crème léger */
  line-height: 1.6;
}

/* Liens */
a {
  color: var(--color-bordeaux); /* Exemple d'accent bordeaux */
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
