.menu-toggle {
    display: none;
}

/* 📌 MENU RESPONSIVE SUR MOBILE (max 768px) */
@media screen and (max-width: 768px) {

    
.header-container {
    position: relative;
    text-align: center;
}

  
 /* Masquer les liens vers les pages existantes par défaut */
  .nav-links {
    display: none;
    position: absolute;
    top: 60px; /* Ajustez si besoin */
    left: 0;
    width: 100%;
    background: #000; /* Fond noir */
    flex-direction: column;
    padding: 10px 0;
  }

  /* Afficher le menu quand il est actif */
  .nav-links.active {
    display: flex;
  }

  /* Réduire la taille du titre */
  .company-name-index {
    font-size: 2.5rem; /* Ajustez selon vos préférences */
    margin: 0 auto;
  }

  /* Afficher le bouton hamburger */
  .menu-toggle {
    position: absolute;
    top: 10px;   /* Ajustez la distance du haut */
    right: 20px; /* Ajustez la distance de la droite */
    font-size: 28px;
    color: #fff;
    cursor: pointer;
    z-index: 100;
  }

  .nav-links ul {
    flex-direction: column;
  }

  .nav-links ul li a {
    font-size: 18px;
    padding: 10px;
    display: block;
    color: #fff; /* Couleur sur fond noir */
  }

/* Modal */
  .modal-content {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .modal-photo,
  .modal-details {
    width: 100%;
    text-align: center;
  }
  
  .modal-photo {
    margin-bottom: 20px; /* Pour espacer la photo du texte */
  }

/* Footer */
footer p {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.footer-separator {
    display: none;
}
    
} /* Fin du @media (max-width: 768px) */

/* 📌 MENU RESPONSIVE SUR MOBILE (max 480px) */
@media screen and (max-width: 480px) {

    /* Ajustements généraux */
    body {
        font-size: 14px;
    }

    /* Header */
    .logo {
        width: 40px;
    }

    .company-name {
        font-size: 16px;
    }

    /* Hero Section */
    .hero {
        height: 40vh;
    }

    .hero-text {
        width: 95%;
        padding: 10px;
    }

    .hero-text h1 {
        font-size: 1.5rem;
    }

    .btn {
        font-size: 16px;
        padding: 8px 15px;
    }

    /* Social links */
    .social-links {
        gap: 8px;
    }

    .social-links a {
        width: 30px;
        height: 30px;
    }

    .social-links img {
        width: 20px;
    }
    
    footer {
        font-size: 12px;
        padding: 15px;
    }
} /* Fin du @media (max-width: 480px) */
