@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&display=swap');

:root {
  --color-bordeaux: #8b0000;
  --color-dark-bordeaux: #600000;
  --color-beige: #f9f5f0;
  --text-color: #333;
  --font-primary: 'Nanum Myeongjo', serif;
  --border-radius: 10px;
}
#policeappréciée
#'Playfair Display'
#'Lora'
#'Monomah'
#'EB Garamond'
#'Caveat' pour Le Dahut
#'Cormorant Garamond'
#'Shadows Into Light' pour Le Dahut
#'Nanum Myeongjo'
