.galerie-page {
  width: 100%;
  overflow-x: hidden;
  background-color: #000;
  z-index: 0;
}

.contact-page::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0); /* Ajustez l'opacité du filtre ici */
  pointer-events: none;
  z-index: 0;
}


/* --- Section Hero --- */
.galerie-hero {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 20vh;  /* L'image de fond occupe toute la hauteur de l'écran */
  background: transparent;
}

/* Logo centré en haut de l'image de fond */
.galerie-logo-container {
  position: absolute;
  top: 20px; /* Distance du haut, ajustable */
  left: 50%;
  transform: translateX(-50%);
  z-index: 2;
}
.galerie-logo {
  max-width: 80px;
  height: auto;
  display: block;
}

/* Grille de la galerie */
.gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 colonnes */
  gap: 10px;
  padding: 20px;
}

/* Chaque item de la galerie en format carré */
.gallery-item {
  position: relative;
  width: 100%;
  padding-top: 100%; /* Pour obtenir un ratio 1:1 */
  overflow: hidden;
}

.gallery-item img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover; /* Pour que l'image remplisse le conteneur en conservant son ratio */
  display: block;
}
