/* ----- HERO SECTION (IMAGE PRINCIPALE) ----- */
/* Section Hero : pleine largeur, image de fond dynamique */
.hero {
    position: relative;
    left: 50%;
    right: 50%;
    top: 0;
    margin-left: -50vw;
    margin-right: -50vw;
    width: 100vw;
    height: 100vh;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    transition: background-image 1s ease-in-out;
}


/* Overlay pour le filtre de transparence */
.hero-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5); /* Ajustez la transparence ici */
    z-index: 0;
}

.hero-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Le texte se place au-dessus de l'overlay */
.hero-text {
    position: relative;
    z-index: 2;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    padding: 20px;
    border-radius: 8px;
}

.hero-text h1 {
    font-size: 4.2rem;
    margin-bottom: 15px;
    color: white;
}

/* Contenu centré dans la section hero */
.hero-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: 2;
  color: var(--color-beige);
}

/* Nom de la compagnie */
.company-name-index {
  font-size: 4.2rem;
  margin-bottom: 40px;
}

/* Navigation centrée */
.nav-links-index ul {
  list-style: none;
  padding: 0;
  margin: 0 auto;
  display: inline-flex;
  gap: 40px; /* Espacement entre les onglets */
}

.nav-links-index a {
  text-decoration: none;
  font-size: 1.6rem;
  color: white;
  transition: color 0.3s;
}

.nav-links-index a:hover {
  color: var(--color-bordeaux);
  text-decoration: none;
  outline: none;
}

/* Bouton principal */
.btn {
    display: inline-block;
    padding: 10px 20px;
    font-size: 18px;
    font-weight: bold;
    color: white;
    background: var(--color-bordeaux); /* Rouge bordeaux */
    text-decoration: none;
    border-radius: 5px;
    transition: background 0.3s ease-in-out;
}

.btn:hover {
    background: var(--color-dark-bordeaux); /* Rouge plus foncé */
    text-decoration: none;
    outline: none;
}

.btn-secondary:hover {
    background: #444;
    text-decoration: none;
    outline: none;
}
