.mecenat-page {
  background: url('../../images/lebain/lebain11.png') no-repeat center 0px;
  background-size: cover;
  background-attachment: scroll; /* L'image défile avec le contenu */
  position: relative; /* Nécessaire pour positionner le pseudo-élément */
}

body::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5); /* Filtre transparent, ajustez l'opacité si besoin */
  pointer-events: none; /* Pour que l'overlay ne bloque pas l'interaction avec le contenu */
  z-index: -1; /* Positionné derrière le contenu */
}

/* --- Section Hero --- */
.mecenat-hero {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 20vh;  /* L'image de fond occupe toute la hauteur de l'écran */
  background: transparent;
}

.mecenat-hero-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Logo centré en haut de l'image de fond */
.mecenat-logo-container {
  position: absolute;
  top: 20px; /* Distance du haut, ajustable */
  left: 50%;
  transform: translateX(-50%);
  z-index: 2;
}
.mecenat-logo {
  max-width: 80px;
  height: auto;
  display: block;
}

/* --- Contenu Principal --- */
.mecenat-main {
  padding: 20px 20px;
  text-align: center;
  z-index: 2;
  color : var(--color-beige);
  background: transparent;
}
.mecenat-intro h1 {
  font-size: 2.5rem;
  margin-bottom: 20px;
  z-index: 2;
  color : var(--color-beige);
}
.mecenat-intro p {
  font-size: 1.2rem;
  margin-bottom: 30px;
  z-index: 2;
  color : var(--color-beige);
}
.mecenat-intro h2 {
  font-size: 2rem;
  margin-bottom: 20px;
  z-index: 2;
  color : var(--color-beige);
}


