.mentions-legales-page {
  position: relative;
  min-height: 100vh;
  background-color: var(--color-beige);
  background-size: cover;
}

.mentions-legales-page::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0); 
  pointer-events: none;
  z-index: 0;
}

.mentions-content {
  display: flex;
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  color: var(--text-color);
  text-align: center;
}
